.error-container {
    padding: 9rem 0;
    text-align: center;
  }

 
.error-container>h2 {
    font-size: 10rem;
  }
  .error-container>h3 {
    font-size: 4.2rem;
  }
  .error-container>p {
    margin: 2rem 0;
  } 